@charset "UTF-8";
$regular: "Montserrat", sans-serif;
$title: "Barlow Condensed", sans-serif;

$bgcolor: #FFF;


@mixin text {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
}

@mixin img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

#es-maybelline.es-maybelline {
  margin: 0 auto;
  padding: 0;
  font-family: $regular;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  max-width: 1300px;
  overflow: hidden;
  background-color: $bgcolor;

  * {
      box-sizing: border-box;
  }
  h2,
  h3,
  h4,

  h5 {
      font-family: $regular;
  }

  .es-kv {
    margin: 0;
    padding: 0;
    position: relative;
    &__bg {
      @include img;
    }
    &__logo {
      width: 60%;
      position: absolute;
      top: 1%;
      right: 1%;
    }
    &__packshots {
      position: relative;
      @include img;
      width: 100%;
    }
    &__texts {
      position: relative;
      padding: 20px 15px;
      width: 100%;
    }
    &__subtitle {
      @include text;
      color: black;
      font-family: $title;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 20px;
      text-align: center;
    }
    &__title {
      @include text;
      color: black;
      font-family: $title;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 30px;
      text-align: center;
    }
    &__text {
      @include text;
      color: black;
      font-family: $regular;
      font-weight: 500;
      font-size: 16px;
      text-align: center;
    }

  }

  .es-baner {
    padding: 0;
    margin: 0;
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    &__texts {
      padding: 20px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center
    }
    &__text {
      @include text;
      width: 100%;
      padding-bottom: 10px;
      color: white;
      font-family: $title;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 30px;
      text-align: left;
    }
    &__image {
      @include img;
      padding-top: 1%;
    }
  }

  .es-shades {
    margin: 0;
    padding: 0;
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 0 ;
    }
    &__shade {
      position: relative;
    }
    &__title {
      position: absolute;
      top: 3%;
      left: 50%;
      transform: translateX(-50%);
      @include text;
      color: white;
      font-family: $title;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 40px;
      text-align: center;
    }
    &__text {
      width: 90%;
      position: absolute;
      top: 13%;
      left: 50%;
      transform: translateX(-50%);
      @include text;
      color: white;
      font-family: $regular;
      font-weight: 400;
      font-size: 18px;
      text-align: center;
    }
  }

  .es-ba {
    padding: 0;
    margin: -4px;
    &__baWrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 4px;
      justify-content: center;
    }
    &__baImage {
      @include img;
    }
    &__item {
      position: relative;
    }
    &__before {
      position: absolute;
      @include text;
      font-family: $title;
      font-weight: 400;
      font-size: 24px;
      top: 3%;
      left: 3%;
    }
    &__after {
      position: absolute;
      @include text;
      font-family: $title;
      font-weight: 400;
      font-size: 24px;
      top: 3%;
      right: 3%;
    }
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    &__texts {
      padding: 20px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center
    }
    &__text {
      @include text;
      width: 100%;
      padding-bottom: 25px;
      color: white;
      font-family: $title;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 40px;
      text-align: left;
    }
    &__listWrapper {
      position: relative;
    }
    &__list {
      margin: 0;
      padding: 0 10px;
    }
    &__listItem {
      list-style: none;
      display: flex;
      align-items: center;
      padding-bottom: 15px;
    }
    &__listtext {
      @include text;
      width: 100%;
      padding-bottom: 10px;
      color: white;
      font-family: $regular;
      font-weight: 500;
      font-size: 18px;
      text-align: left;
    }
    &__tick {
      width: 35px;
      margin-top: -15px;
      padding-right: 20px;
    }
    &__image {
      @include img;
      padding-top: 1%;
    }
  }

  .es-cross {
    padding: 60px 16px;

    &__header {
        text-align: center;
        padding-bottom: 30px;
    }
    &__title {
      @include text;
      color: black;
      font-family: $title;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 60px;
      text-align: center;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px 8px;
        margin-top: 32px;
    }

    &__single {
        max-width: 375px;
        display: flex;
        align-items: center;
        flex-flow: column;
        color: black;
    }

    &__single:hover {
        .es-cross__img {
            transform: scale(1.05);
        }

        .es-cross__link {
            background-color: #FFF;
            color: #000;
            box-shadow: inset 0 0 0 2px #000;
        }
    }

    &__packshot {
        margin-bottom: 16px;
        padding-bottom: 16px;
        width: 80%;
    }

    &__img {
        max-height: 100%;
        transition: all 0.3s;
    }

    &__name {
        line-height: inherit;
        font-size: 30px;
        text-transform: uppercase;
        font-family: $title;
        text-align: center;
        margin-bottom: 8px;
        font-weight: 400;
    }

    &__desc {
        text-align: center;
        font-size: 18px;
        font-family: $title;
        margin-bottom: 32px;
    }

    &__link {
        margin: 0;
        line-height: inherit;
        font-size: 20px;
        background: black;
        color: #FFF;
        text-decoration: none;
        padding: 16px 40px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: $regular;
        text-align: center;
        display: inline-block;
        transition: color 0.3s;
        width: 100%;
    }


}

@media (min-width: 768px) {
    .es-cross {
        position: relative;

        &__container {
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            gap: 32px 8px;
            margin-top: 32px;
        }

        &__single {
            min-width: 230px;
            width: 30%;
        }

        &__desc {
            height: 7em;
        }
    }
}


/**************************************/
/******* cross sell styles ************/
/**************************************/

.es-disclaimer {
    padding: 20px 16px;
    text-align: center;
    font-size: 13px;
}

/**************************************/
/*********** footer styles ************/
/**************************************/
.es-footer {
   margin: 0 auto;
   text-align: center;
    background-color: black;
    padding: 24px;
}

  @media screen and (min-width: 550px) {
    .es-kv {
      &__logo {
        width: 28%;
        top: 8%;
        right: 6%;
      }
      &__texts {
        width: 50%;
        position: absolute;
        top: 51%;
        left: 5%;
      }
      &__subtitle {
        color: white;
      }
      &__title {
        color: white;
      }
      &__text {
        color: white;
        font-size: 14px;
      }
      &__packshots {
        position: absolute;
        width: 30%;
        top: 23%;
        right: 5%
      }
    }
    .es-baner {
      &__wrapper {
        flex-wrap: nowrap !important;
        flex-direction: row-reverse;
      }
      &__imageWrapper {
        width: 62%;
      }
      &__texts {
        width: 38%;
      }
      &__image {
        padding-top: 10%;
      }
    }
  }
  @media screen and (min-width: 700px) {
    .es-kv {
      &__texts {
        width: 50%;
        position: absolute;
        top: 54%;
        left: 5%;
      }
      &__subtitle {
        font-size: 25px;
      }
      &__title {
        font-size: 45px;
      }
      &__text {
        font-size: 16px;
      }
    }
    .es-baner {
      &__text {
        font-size: 45px;
      }
    }
    .es-ba {
      &__imageWrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
      &__baWrapper {
        flex-wrap: nowrap;
        padding: 5%;
      }
      &__wrapper {
        flex-wrap: nowrap;
        flex-direction: row-reverse;
      }
      &__imageWrapper {
        width: 50%;
      }
      &__texts {
        width: 50%;
      }
      &__image {
        padding-top: 10%;
      }
    }
  }
  @media screen and (min-width: 900px) {
    .es-kv {
      &__texts {
        width: 50%;
        position: absolute;
        top: 57%;
        left: 5%;
      }
      &__subtitle {
        font-size: 30px;
      }
      &__title {
        font-size: 60px;
      }
      &__text {
        font-size: 20px;
      }
    }
    .es-baner {
      &__text {
        font-size: 60px;
      }
    }
    .es-ba {
      &__imageWrapper {
        width: 62%;
      }
      &__texts {
        width: 38%;
      }
    }
  }
  @media screen and (min-width: 1140px) {
    .es-ba {
      &__image {
        margin: 0 auto 0 0;
      }
    }
  }
  @media screen and (min-width: 1300px) {
    .es-kv {
      &__texts {
        width: 58%;
        position: absolute;
        top: 57%;
        left: 2%;
      }
      &__subtitle {
        font-size: 60px;
      }
      &__title {
        font-size: 90px;
      }
      &__text {
        font-size: 25px;
      }
    }
    .es-baner {
      &__text {
        font-size: 80px;
      }
    }
  }
}

@keyframes pulse {
0% {
    transform: scale(1);
}

60% {
    transform: scale(1.4);
}

100% {
    transform: scale(1);
}
}

@keyframes pulse2 {
0% {
    transform: scale(1);
}

60% {
    transform: scale(1.1);
}

100% {
    transform: scale(1);
}
}

@keyframes slidedown {
from {
    opacity: 0;
    transform: translateY(-32px);
}

to {
    opacity: 1;
    transform: translateY(0);
}
}

@keyframes slideright {
from {
    opacity: 0.3;
    transform: translateX(-100px);
}

to {
    opacity: 1;
    transform: translateX(0);
}
}

@keyframes slideleft {
from {
    opacity: 0.3;
    transform: translateX(100px);
}

to {
    opacity: 1;
    transform: translateX(0);
}
}

@keyframes load1 {
from {
    width: 0;
}

to {
    width: 70%;
}
}

@keyframes load2 {
from {
    width: 0;
}

to {
    width: 82%;
}
}

@keyframes load3 {
from {
    width: 0;
}

to {
    width: 98%;
}
}
